<div class="container mt-4">
  <h2>Usuários</h2>
  <a class="btn btn-primary mb-3" routerLink="/usuarios/novo">Novo Usuário</a>

  <div *ngIf="erro" class="alert alert-danger mt-3">
    {{ mensagem }}
  </div>

  <div *ngIf="sucesso" class="alert alert-success mt-3">
    {{ mensagem }}
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.email }}</td>
            <td>
                <a [routerLink]="['/usuarios/editar', usuario.id]" class="btn btn-sm btn-warning">Editar</a>
                <button (click)="deletar(usuario.id)" class="btn btn-sm btn-danger ms-2">Excluir</button>
            </td>
        </tr>
    </tbody>
  </table>
</div>
