<div class="container mt-4">
  <h2>Empresas para Avaliar</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let empresa of empresas">
            <td>{{ empresa.id }}</td>
            <td>{{ empresa.nome }}</td>
            <td>
                <a [routerLink]="['/estudantes/avaliar/empresa', empresa.id]" class="btn btn-sm btn-warning">Avaliar</a>
            </td>
        </tr>
    </tbody>
  </table>
</div>
