<div class="container mt-4">
  <h2>{{ modoEdicao ? 'Editar Estudante' : 'Nova Estudante' }}</h2>

  <form (ngSubmit)="enviarForm()" #form="ngForm">

    <div *ngIf="erro" class="alert alert-danger mt-3">
      {{ mensagem }}
    </div>

    <div *ngIf="sucesso" class="alert alert-success mt-3">
      {{ mensagem }}
    </div>

    <!-- Nome -->
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" id="nome" [(ngModel)]="estudante.nome" name="nome" class="form-control" />
      <div *ngIf="errosValidacao.nome" class="text-danger">
        {{ errosValidacao.nome }}
      </div>
    </div>

    <!-- CNPJ -->
    <div class="mb-3">
      <label for="cnpj" class="form-label">CPF</label>
      <input type="text" id="cnpj" [(ngModel)]="estudante.cpf" name="cpf" class="form-control" mask="000.000.000-00" />
      <div *ngIf="errosValidacao.cpf" class="text-danger">
        {{ errosValidacao.cpf }}
      </div>
    </div>

    <!-- Email -->
    <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input type="email" id="email" [(ngModel)]="estudante.email" name="email" class="form-control" />
      <div *ngIf="errosValidacao.email" class="text-danger">
        {{ errosValidacao.email }}
      </div>
    </div>

    <!-- Senha -->
    <div class="mb-3" *ngIf="!modoEdicao">
      <label for="senha" class="form-label">Senha</label>
      <input type="password" id="senha" [(ngModel)]="estudante.senha" name="senha" class="form-control" />
      <div *ngIf="errosValidacao.senha" class="text-danger">
        {{ errosValidacao.senha }}
      </div>
    </div>

    <!-- Endereço -->
    <div class="mb-3">
      <label for="endereco" class="form-label">Curso</label>
      <input type="text" id="endereco" [(ngModel)]="estudante.curso" name="curso" class="form-control" />
      <div *ngIf="errosValidacao.curso" class="text-danger">
        {{ errosValidacao.curso }}
      </div>
    </div>

    <!-- Áreas de Interesse -->
    <div class="mb-3">
      <label for="areas" class="form-label">Área(s) de Atuação</label>
      <select id="areas" class="form-select" multiple [(ngModel)]="estudante.idsAreasInteresse" name="idsAreasInteresse">
        <option *ngFor="let area of areasDisponiveis" [value]="area.id">
          {{ area.nome }}
        </option>
      </select>
      <div *ngIf="errosValidacao.idsAreasInteresse" class="text-danger">
        {{ errosValidacao.idsAreasInteresse }}
      </div>
    </div>

    <!-- Botões -->
    <div class="d-flex justify-content-end gap-2">
      <button type="button" class="btn btn-secondary" (click)="voltar()">Voltar</button>
      <button type="submit" class="btn btn-success">Salvar</button>
    </div>

  </form>
</div>
