<div class="container mt-4">
  <h2>Estudantes</h2>
  <a class="btn btn-primary mb-3" routerLink="/estudantes/novo">Novo Estudante</a>

  <div *ngIf="erro" class="alert alert-danger mt-3">
    {{ mensagem }}
  </div>

  <div *ngIf="sucesso" class="alert alert-success mt-3">
    {{ mensagem }}
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let estudante of estudantes">
            <td>{{ estudante.id }}</td>
            <td>{{ estudante.nome }}</td>
            <td>{{ estudante.email }}</td>
            <td>
                <a [routerLink]="['/estudantes/editar', estudante.id]" class="btn btn-sm btn-warning">Editar</a>
                <button (click)="deletar(estudante.id)" class="btn btn-sm btn-danger ms-2">Excluir</button>
            </td>
        </tr>
    </tbody>
  </table>
</div>
