<div class="container mt-4">
  <h2>Vagas Disponíveis</h2>

  <div *ngIf="erro" class="alert alert-danger mt-3">
    {{ mensagem }}
  </div>

  <div *ngIf="sucesso" class="alert alert-success mt-3">
    {{ mensagem }}
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Empresa</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vaga of vagas">
            <td>{{ vaga.id }}</td>
            <td>{{ vaga.titulo }}</td>
            <td>{{ vaga.empresaNome }}</td>
            <td>
              <a [routerLink]="['/vagas/visualizar', vaga.id]" class="btn btn-sm btn-warning me-2">
                Abrir
              </a>
              <a [routerLink]="['/empresas/avaliacao', vaga.id]" class="btn btn-sm btn-info">
                Avaliações
              </a>
            </td>
        </tr>
    </tbody>
  </table>
</div>
